
:root {
        --main_Color: rgb(30,48,243); 
        --background_Color: #ece9e9;
        --left_Margin :150px ;
        --right_Margin :120px 
      }

/*Start Global Rules*/
*{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
 }

html {scroll-behavior: smooth;}

.container{
            padding: 10px 60px ;
            margin-left: auto;
            margin-right: auto;
          }
          
/* Small Screen*/                   
@media (min-width:768px) {
                            .container{width: 750px;}
                         }
/* Medium Screen*/                   
@media (min-width:992px) {
                            .container{width: 970px;}
                         }
/* Larg Screen*/                   
@media (min-width:1200px) {
                            .container{width: 1170px;}
                         }
/*End Global Rules*/
/* Main_components */
.main_heading {
                text-align: center;
                margin: 80px auto;
              }
.main_heading h2 {
                   font-size: 50px;
                   font-weight: 600;
                   padding: 10px;
                   color: #5a5959;
                 }              
/* Main_components */

body {
        font-family: "Work Sans", sans-serif;
        font-optical-sizing: auto;
     }

/* Start of Header      */
.header {position: relative;}
.header .container {
                     display: flex;
                     justify-content: space-between;
                     top: 0;
                     margin: 20px auto;
                     min-height: 50px;
                   }
.header .container .logo {
                           color: white;
                           font-size: 25px;
                           font-weight: 600;
                           text-align: center;
                           align-content: center;
                           padding: 5px 10px;
                           text-decoration: wavy;
                           background-image: linear-gradient(155deg,var(--main_Color) ,  rgb(243, 7, 243) 70%);
                           border-radius: 15px 0;
                         }
.header .container .header_menu {
                                  color: #777;
                                  font-size: 22px;
                                }
@media(min-width:768px) {.header .container .header_menu {display: none;}}                                                         
.header .container  ul {
                             list-style: none;
                             display: flex;
                           }
@media(max-width:767px) {
                          .header .container  ul {display: none;}
                          .header .container .header_menu {
                                                            position: absolute; 
                                                            right: 50px;
                                                          }
                        } 
.header .container .header_menu:hover + ul {
                                                  display: flex;
                                                  flex-direction: column;
                                                  align-content: space-between;
                                                  position: absolute;
                                                  top: 100%;
                                                  left: 0;
                                                  width: 50%;
                                                  background-color: rgba(0, 0, 0, 80%);
                                                  margin: 20px 0;
                                                }
.header .container .header_menu:hover + ul li a {
                                                  display: block;
                                                  justify-content: space-between;
                                                  text-align: start;
                                                  color: white;
                                                  font-size: 25px;
                                                  padding: 20px;
                                                }                                                                        
.header .container  ul li a {
                                    margin: auto 5px;
                                    color: #777;
                                    text-decoration: none;
                                    font-weight: 500;
                                }
.header .container  ul li a:hover {
                                        color: var(--main_Color);
                                      }
/* End of Header      */
/* Start of Home      */
.home .container {
                   text-align: center;
                 }
.home .container h3 {
                      font-size: 15px;
                      /* margin-top: 40px ;
                      margin-bottom: 30px;
                      margin: 40px 380px 30px; */
                      text-align: center;
                      width: 300px;
                      margin: 20px auto;
                      padding: 3px;
                      background-image: linear-gradient(160deg ,var(--main_Color) ,  rgb(243, 7, 243) 70%);
                      border-radius: 10px;
                      color: white;
                    }
.home .container p {
                       font-size: 28px;
                       font-weight: normal;
                       color: #777;
                       letter-spacing: 1.5px;
                    }
.home .container h1 {
                      font-size: 65px;
                      letter-spacing: 2px;
                      color: #777;
                    }
.home .container h1 span:first-child {color: var(--main_Color);}                                                                             
.home .container h1 span:last-child {color: rgb(243, 7, 243) }
@media(max-width:767px) {.home .container h1 {font-size: 30px; font-weight: 800;}}  
.home .container img {
                       top: 50%;
                       height: 400px;
                       border-radius: 10px;
                       margin-bottom: 30px;
                     }                                                                           
/* End of Home      */
/* Start of Resume      */
.resume {
          background-color: var(--background_Color);
        }
.resume .container .resume_Content {
                                     display: flex;
                                     flex-direction: column;
                                     justify-content: space-between;
                                   }
.resume .experiences h2 {
                          font-size: 30px;
                          margin-bottom: 40px;
                          color: var(--main_Color);
                        }
.resume .experiences .Box {
                            display: flex;
                            justify-content: space-between;
                            gap: 30px;
                            background-color: white;
                            border-radius: 20px;
                            margin-bottom: 40px;
                          }
                     
.resume .experiences .Box .info {
                                  width:70%;
                                  padding: 20px;
                                  background-color: #f8f3f3;
                                  margin-top: 40px;
                                  margin-left: 40px;
                                  margin-bottom: 15px;
                                  border-radius: 10px;
                                  justify-content: flex-start;
                                }
.resume .experiences .Box .info h3 {
                                      margin: 10px;
                                      font-size: 15px;
                                      color: var(--main_Color);
                                   }                                                                                                        
.resume .experiences .Box .info h4 {
                                      margin: 5px 10px;
                                      font-size: 15px;
                                      font-weight: normal;
                                   }                                                                                                        
.resume .experiences .Box .info p {
                                    margin: 5px 10px;
                                    font-size: 12px;
                                    color: #777;
                                    line-height: 1.8;
                                  }
.resume .experiences .Box .para p {
                                    font-size: 14px;
                                    width: 80%;
                                    margin-top: 60px;
                                    letter-spacing: 1px;
                                    line-height: 1.5;
                                  } 
@media(max-width:767px) {
                          .resume .experiences .Box {
                                                        display: flex;
                                                        flex-direction: column;
                                                        justify-content: center;
                                                    }
                          .resume .experiences .Box .info {margin-bottom: 0;}                          
                          .resume .experiences .Box .para p {
                                                              margin: 0 auto;
                                                              justify-content: start;
                                                              padding: 20px;
                                                            }                          
                        }     
.resume .container .skills  {
                              background-color: white;
                              margin-bottom: 40px;
                              border-radius: 20px;
                            }
.resume .container .skills .skill_Box h2 {
                                           padding-top: 50px;
                                           padding-bottom: 20px;
                                           margin-left: 30px;
                                           color:rgb(243, 7, 243);
                                           font-size: 30px;
                                         }
.resume .container .skills .skills_Content {
                                              display: flex;
                                              justify-content: space-around;
                                              flex-wrap: wrap;
                                              /* margin-left: var(--left_Margin);  */
                                           }
.resume .container .skills .skills_Content p {
                                               width: 250px;
                                               padding-top: 10px 50px 10px 10px;
                                               background-color: #f7f5f5;
                                               text-align: center;
                                               margin: 30px 20px;
                                               padding: 20px 60px 20px 10px;
                                               border-radius: 20px;
                                             }                                                                                                                                                                                                                                                             
/* End of Resume      */
/* Start of Projects      */
.projects .projects_content .project {
                                         display: flex;
                                         justify-content: space-between;
                                         background-color:#f7f5f5 ;
                                         margin-bottom: 40px;
                                         border-radius: 20px;
                                     }                                 
.projects .projects_content .project .info h3 {
                                                 font-size: 30px;
                                                 padding-top: 40px ;
                                                 padding-left: 20px;
                                                 padding-bottom: 10px;
                                                 color: var(--main_Color);
                                              }                                     
.projects .projects_content .project .info p {
                                                 font-size: 15px;
                                                 width: 70%;
                                                 line-height: 1.4;
                                                 padding-left: 20px;
                                                 padding-bottom: 20px;
                                              }
.projects .projects_content .project  img {
                                            width: 150px;
                                            margin: 20px ;
                                            border-radius: 50%;
                                          }
@media(max-width:767px) {
                          .projects .projects_content .project {
                                                                 display: flex;
                                                                 flex-direction: column;
                                                                 align-items: center;
                                                               }
                          .projects .projects_content .project .info p {
                                                                          width: 100%; 
                                                                          padding: 10px 15px;

                                                                       }                                     
                        }                                                                                                                                 
/* End of Projects      */
/* Start of Contact Us      */
.contact {
           background-color:var(--background_Color);

         }
.contact .container div {
                          text-align: center;
                          width: fit-content;
                          margin: 20px auto 40px;
                        }         
.contact .container h3 {
                          font-size: 39px;
                          text-align: center;
                          color: white;
                          padding: 20px ;
                          border-radius: 20px;
                          background-image: linear-gradient(160deg ,var(--main_Color) ,  rgb(243, 7, 243) 70%);
                       }
@media(max-width:767px) {.contact .container h3 {font-size: 25px; padding: 15px 0;}}                       
.contact .container form {
                            display: flex;
                            flex-direction: column;
                         } 
.contact .container form input {
                                 display: block;
                                 margin-bottom: 20px;
                                 margin-left: calc(var(--left_Margin)*1.6);
                                 margin-right: calc(var(--right_Margin)*1.6);
                                 height: 60px;
                                 padding: 30px;
                                 border-radius: 20px;
                                 border: none;
                               }
.contact .container form input:focus {outline: none;}                                
.contact .container form .main_input {
                                      display: block;
                                      position: relative;
                                      padding: 30px;
                                      margin-left: calc(var(--left_Margin)*1.6);
                                      margin-right: calc(var(--right_Margin)*1.6);
                                      margin-bottom: 20px;
                                      border-radius: 20px;
                                     }
.contact .container form textarea {border: none;}                                     
.contact .container form input[type='submit'] {
                                                text-align: center;
                                                margin: 10px auto;
                                                padding: 15px 50px;
                                                background-image: linear-gradient(160deg ,var(--main_Color) ,  rgb(243, 7, 243) 70%);
                                                color: white;
                                                cursor: pointer;
                                                border: none;
                                               }
.contact .container form textarea:focus {outline: none; border: none;}                                
@media(max-width:767px) {
                          .contact .container form input {
                                                            width: 400px;
                                                            margin: auto;
                                                            margin-bottom: 20px;
                                                         }
                          .contact .container form .main_input {
                                                                     width: 400px;
                                                                     display: block;
                                                                     position: relative;
                                                                     left: -225px;
                                                               }
                          .contact .container form input[type='submit'] {
                                                                          padding: 10px 40px;
                                                                          width: fit-content;
                                                                        }                                                                     
                        }                                                                                                                                                                  
/* End of Contact Us      */
.footer {
          margin: 20px auto;
          text-align: center; 
        }
.footer h2 {
             letter-spacing: 1px;
             margin: 10px;
             font-weight: bold;
             text-decoration: wavy;
             color: rgb(243, 7, 243) ;
           }
.footer h2 span {color: var(--main_Color);}   
.footer p {font-size: 20px; color: #777;}
.footer .social_icons  {
                         margin: 10px 25px;
                         font-size: 25px;
                         background-color: transparents;
                       }                                      
.footer .copy {margin-top: 25px; font-size: 20px;}                                      
.footer .copy span { font-weight: bold; color: var(--main_Color);}                   
/*End of Footer */        
