@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Saira:ital,wght@0,100..900;1,100..900&display=swap');
:root {
         --main_Color: #033b4a;
         --second_Color: #20c997;
         --gray: #4a4a4d;
         --bg_Color: #ecf0f3;
         --main_Transition: 0.3s;
      }
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
html {scroll-behavior: smooth;}        
body { font-family: "Poppins", sans-serif;}

h1 ,h2 { font-family: "Saira", sans-serif;}
ul {list-style: none;}
a  {text-decoration: none;}
/*Utility Classes*/
.container {
             padding: 2rem;
             margin: auto;
             max-width: 1100px;
           }
.main_botton {
               padding: 10px 20px;
               border-radius: 10px;
               font-size: 15px;
               color: #fff;
               border: none;
               background-color: var(--second_Color);
               transition: var(--main_Transition);
               cursor: pointer;
             }
.main_botton:hover {
                       background-color: #15a076;
                   }  
/*Mian Heading*/                   
.main_heading {
                 text-align: center;
                 justify-content: center;
                 align-items: center;
                 padding: 20px;
              } 
.main_heading h2 {
                    font-size: 38px;
                    font-weight: bold;
                    letter-spacing: 1px;
                    color: var(--main_Color);
                 }
.main_heading h2 span{color: var(--second_Color)}
.main_heading hr {
                  width: 100px;
                  height: 3px;
                  margin: auto;
                  border: none;
                  background-color: var(--second_Color);
                 }  
@media(max-width:768px) {
                            .main_heading h2 {font-size: 30px;}
                        }                                                                                            
/*Utility Classes*/
/*Start of Header Section*/
header {
          background-color: var(--bg_Color);
          height: 100vh;
       }
header .nav_bar {
                   background-color: #fff;
                   border-bottom: 1px solid #ccc;
                   position: fixed;
                   width: 100%;
                   z-index: 1;
                }
header .nav_bar nav {
                       display: flex;
                       justify-content: space-between;
                       align-items: center;
                       margin: auto;
                       max-width: 1100px;
                       padding: 1.6rem 2rem;
                    } 
@media(max-width:768px) {
                          header .nav_bar nav {
                                                 display: flex;
                                                 flex-direction: column;
                                                 gap: 10px;
                                              }
                        }                    
#home #logo {
              font-size: 24px;
              font-weight: 700;
              color: var(--main_Color);
            }                      
header .nav_bar nav ul {
                          display: flex;
                       } 
header .nav_bar nav ul li a {
                               margin: 0 15px;
                               padding-bottom: 10px;
                               color: var(--main_Color);
                               font-weight: 600;
                               text-transform: capitalize;
                               transition: var(--main_Transition);
                               position: relative;
                            }
header .nav_bar nav ul li a::after  {
                                      position: absolute;
                                      content: '';
                                      left: 0;
                                      bottom: 0;
                                      width: 0;
                                      height: 4px;
                                      transition: var(--main_Transition);
                                      background-color: var(--second_Color);
                                    }                            
header .nav_bar nav ul li a:hover::after {width: 50px; }                            
header .nav_bar nav ul li a:hover {color: var(--second_Color); }                            
@media(max-width:768px) {
                          header .nav_bar nav ul li a {
                                                         margin: 0 8px;
                                                      }
                        }                             
header .header_content {
                          display: grid;
                          grid-template-columns: 1.5fr 1fr;
                          max-width: 1100px;
                          margin: auto;
                          padding: 5rem 2rem 0;
                          height: 100%;
                          align-items: center;
                       }
                        
header .header_content .content_info {margin-bottom:  5rem;}                       
header .header_content .content_info p span {
                                                text-transform: capitalize;
                                                color: var(--second_Color);
                                                font-size: 20px;
                                                font-weight: 700;
                                            }
header .header_content .content_info h1 {
                                            color: var(--main_Color);
                                            font-size: 45px;
                                            font-weight: bold;
                                            padding: 10px 0;
                                            text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
                                        }
header .header_content .content_info p {
                                            font-size: 18px;
                                            font-weight: 500;
                                            color: var(--main_Color);
                                        }
header .header_content .content_info .social {
                                                font-size: 30px;
                                                padding: 10px 0;
                                                margin: 1rem 0 2rem;
                                             }
header .header_content .content_info .social a i {
                                                    color: var(--gray);
                                                    border-radius: 50%;
                                                    margin-right: 10px;
                                                    transition: var(--main_Transition);
                                                }
header .header_content .content_info .social a i:hover {transform: scale(1.1);}
header .header_content img {
                              max-width: 400px; 
                              max-height: 400px;
                              border-radius: 50%;
                           }                                                 
/*End of Header Section*/

/*Start of About Section*/
#about {padding: 2rem 0;}
#about .about_content {
                        padding: 3rem ;
                        display: grid;
                        grid-template-columns: 1.8fr 1.2fr;
                        gap: 0 2.5rem ;
                        vertical-align: middle;
                      }
@media(max-width:767px) {
                           #about .about_content {
                                                   flex-direction: column;
                                                   display: flex;
                                                   flex-direction: column;
                                                 }
                        }                      
#about .about_content .column1 h3 {
                                    font-size: 24px;
                                    font-weight: bold;
                                    padding: 15px 0;
                                  }
#about .about_content .column1 h3 span {color: var(--second_Color);}
#about .about_content .column1 p {
                                   color: var(--gray);
                                   line-height: 1.8;
                                   margin-bottom: 20px;
                                 }
#about .about_content .column2 {
                                 padding: 20px 0;
                               }
#about .about_content .column2 p {
                                   margin-bottom: 20px;
                                   padding-bottom: 10px;
                                   color: var(--gray);
                                   border-bottom: 1px solid #ddd;
                                 }
#about .about_content .column1 p b {color: var(--main_Color);}
/*End of About Section*/
/*Start of Skills Section*/
#skills {
          padding: 2rem 0;
          background-color: var(--main_Color);
        }
#skills .container .main_heading h2 {
                                       color: #fff; 
                                       font-family: "Poppins", sans-serif;
                                    }
#skills .container .skills_content {
                                      display: grid;
                                      grid-template-columns: repeat(auto-fill,minmax(200px,1fr));
                                      gap: 20px;
                                      background-color: #0f272d;
                                      margin-top:  3rem;
                                      padding: 20px;
                                   }
@media(max-width:767px) {
                           #skills .container .skills_content {
                                                                  display: grid;
                                                                  grid-template-columns:  1fr;
                                                              }
                        }
#skills .container .skills_content .skill_item {
                                                text-align: center;
                                                align-items: center;
                                                margin: 20px;
                                                padding: 20px;
                                                border-radius: 10px;
                                                font-size: 20px;
                                                font-weight: 600;
                                                color: #fff;
                                                background-color: black;
                                                transition: var(--main_Transition);
                                               } 
#skills .container .skills_content .skill_item:hover {box-shadow: 10px 10px 10px #00f4ab0c ;}
#skills .container .skills_content .skill_item img {max-width: 80px;}
#skills .container .skills_content .skill_item img:first-child {height: 120px;}
/*End of Skills Section*/
/*Start of Services Section*/
#services {
             padding: 2rem 0;
             background-color: #00f4ab0c;
          }
#services .container .services_content {
                                         display: grid;
                                         grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
                                         gap: 40px 20px;
                                         margin-top:  3rem;
                                       }
#services .container .services_content .serv_item {
                                                    text-align: center;
                                                    padding: 30px 15px;
                                                    border-radius: 10px;
                                                    background-color: #fff;
                                                    transition: var(--main_Transition);
                                                    box-shadow:  2px 2px 5px rgba(0, 0, 0, 0.2);
                                                  }
#services .container .services_content .serv_item:hover {transform: scale(1.04);}
#services .container .services_content .serv_item img {
                                                        width: 180px;
                                                        max-width: 100%; 
                                                        padding: 10px;
                                                        /* border-radius: 50%; */
                                                      }
#services .container .services_content .serv_item h3 {
                                                        margin: 15px 0;
                                                        color: var(--main_Color);
                                                     }
#services .container .services_content .serv_item p {
                                                       font-size: 15px;
                                                       color: #777;
                                                    }
/*End of Services Section*/
/*Start of Portfolio Section*/
#portfolio {
              padding: 2rem 0;
              background-color: var(--main_Color);
           }
#portfolio .container .main_heading h2 {
                                       color: #fff; 
                                       font-family: "Poppins", sans-serif;
                                    }           
#portfolio .container .projects    {
                                       display: grid;
                                       grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
                                       gap: 40px 20px;
                                       margin-top:  3rem;
                                   }
#portfolio .container .projects .project_box {
                                                background-color: #fff;
                                                border-radius: 10px;
                                                transition: var(--main_Transition);
                                             }
#portfolio .container .projects .project_box:hover {transform: scale(1.04);}
#portfolio .container .projects .project_box img {
                                                   max-width: 100%;
                                                   height: 180px;
                                                   border-bottom: 2px solid #ccc;
                                                   border-top-left-radius: 10px;
                                                   border-top-right-radius: 10px;
                                                 }
#portfolio .container .projects .project_box .proj_info {
                                                            padding: 20px 15px ;
                                                        }
#portfolio .container .projects .project_box .proj_info h3 {
                                                              font-size: 25px;
                                                              margin-bottom: 10px;
                                                              color: var(--main_Color);
                                                           }
#portfolio .container .projects .project_box .proj_info a {
                                                             font-size: 15px;
                                                             font-weight: 500;
                                                             color: var(--second_Color);
                                                          }
/*End of Portfolio Section*/
/*Start of Contact Section*/
#contact {
             padding: 2rem 0;
         }
#contact .container .contact_content {
                                        display: grid;
                                        grid-template-columns: repeat(2,1fr);
                                        gap: 3rem;
                                        margin-top: 3rem;
                                        padding: 2rem 3rem;
                                        border-radius: 10px;
                                        background-color: #fff;
                                        box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.2);
                                     }  
@media(max-width:767px) {
                           #contact .container .contact_content{
                                                                  flex-direction: column;
                                                                  display: flex;
                                                                  flex-direction: column;
                                                                  padding: 2rem 1rem;
                                                               }
                        }                                            
#contact .container .contact_content img {max-width: 100%;}    
@media(max-width:768px) {
                           #contact .container .contact_content img {max-width: 250px; margin: auto;}
                        }
#contact .container .contact_content form input,textarea {
                                                            display: block;
                                                            padding: 20px;
                                                            margin-top: 20px;
                                                            font-size: 15px;
                                                            color: #777;
                                                            border-radius: 10px;
                                                            width: 100%;
                                                            outline: none;
                                                            border: none;
                                                            border: 1px solid #bbb;
                                                         } 
#contact .container .contact_content form input[type='text'],input[type='email'], textarea {background-color: #00f4ab0c;}
#contact .container .contact_content form input[type='submit'] {
                                                                  width: fit-content; 
                                                                  font-size: 17px ;
                                                                  font-weight: bold;
                                                               }
/*End of Contact Section*/
footer {
         padding: 2rem 0;
         text-align: center;
         font-size: 20px;
         color: #fff;
         background-color: #222;
       }
